/*******************************
  General CSS
*******************************/
body, html {
  background-color: #fff;
  background-image: url(../images/index_bg.jpg);
  color: black;
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
}

/*******************************
  Side Nav Bar
*******************************/
.side_nav {
  background-color:	#013765;
  color: #fff;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 14%;
}

.side_nav a, .drop-btn {
  background: none;
  background-color: inherit;
  border: none;
  color: inherit;
  display: block;
  font-size: 18px;
  outline: none;
  padding: 4px 8px 4px 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.side_nav p {
  background: none;
  background-color: inherit;
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: medium;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: 22px;
  outline: none;
  padding: 8px 8px 8px 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.side_nav a:hover, .drop-btn:hover {
  background-color: #02518A;
  color: inherit;
}

.drop-cont {
  background-color: inherit;
  color: inherit;
  display: none;
  padding-left: 16px;
}

.side_nav i {
  padding: 4px 8px 4px 8px;
}

/*******************************
  Title
*******************************/
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: black;
  background-color: inherit;
  width: 86%;
  padding-left: 14%;
}

/*******************************
  Flex Box
*******************************/
.row {
  display: flex;
}

.side_nav_cont {
  flex: 14%;
  height: 852px;
}

.flex_text {
  flex: 43%;
  height: 852px;
}

.heatmap_cont {
  flex: 86%;
  height: 852px;
}

.flex_text p{
  padding: 8px 16px 8px 16px;
  line-height: 1.6;
}

/*******************************
  Heatmap Image and Canvas
*******************************/
#heatmap {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  right: 0;
  top: 0;
  width: 86%;
}
