/*******************************
  General page CSS
*******************************/
body, html {
  height: 100%;
  margin: 0;
  color: black;
  background-color: #fff;
  background-image: url(../images/index_bg.jpg);
  font-family: 'Roboto', sans-serif;
}

/*******************************
CSS for the site banner
*******************************/
.title_bar {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #003865;
  color: #fff;
}

.title_text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'CenturyOldStyleFSRegular', 'Times New Roman', serif;
  font-size: 28px;
  line-height: 2em;
  text-align: center;
}

/*******************************
CSS for the top nav bar
*******************************/
.topnav {
  color: #fff;
  background-color: #003865;
  overflow: hidden;
}

.topnav a {
  color: inherit;
  background-color: inherit;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  width: 33.3333%;
}

.topnav a:hover {
  color: #fff;
  background-color: #085087;
}

/*******************************
CSS for the side nav bar
*******************************/


/*******************************
  CSS for the flex box
*******************************/
.row {display: flex;}

.left {flex: 20%;}

.center {flex: 60%;}

.right {flex: 20%;}

/*******************************
  CSS for the heat map canvas
*******************************/
#floorplan {
  height: 100%;
  width: 88%;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}
